# Virtual Environment
venv/

# Python cache
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Saved models
models/*.pkl

# Dataset
data/*.csv

# Operating System
Thumbs.db
.DS_Store

